## Generated db's
DB/*.db

## Generated adl's
medm/adl/*
!medm
!medm/adl
!medm/adl/ecal_ECAL_TOP.adl
!medm/adl/ecal_ECAL_TOP_param.adl
!medm/adl/ecal_ECAL_BOTTOM.adl
!medm/adl/ecal_ECAL_BOTTOM_param.adl
!medm/adl/ecalRampCtrl.sh

## Others...
medm/alh
req
